<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ErcotAPILib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ErcotAPILib.Properties.Settings>
            <setting name="ErcotAPILib_ErcotNodalService_NodalService" serializeAs="String">
                <value>https://misapi.ercot.com/2007-08/Nodal/eEDS/EWS/</value>
            </setting>
            <setting name="ClientCertificateDirectory" serializeAs="String">
                <value>Certificate</value>
            </setting>
            <setting name="ClientCertificateName" serializeAs="String">
                <value>API_Prism_2_EDFT_SQ26_2021_CERT.pfx</value>
            </setting>
            <setting name="ClientCertificatePassword" serializeAs="String">
                <value>JMf0tUSC1787!</value>
            </setting>
            <setting name="ClientCertificateUserID" serializeAs="String">
                <value>API_Prism2</value>
            </setting>
            <setting name="Source" serializeAs="String">
                <value>API_Prism2</value>
            </setting>
            <setting name="LMP_REPORT_STARTTIME_OFFSET_MINUTES" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="LMP_REPORT_ENDTIME_OFFSET_MINUTES" serializeAs="String">
                <value>0</value>
            </setting>
        </ErcotAPILib.Properties.Settings>
    </applicationSettings>
</configuration>